In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('Train_Data.csv')
df

,SEQN,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN,age_group
0,73564.0,2.0,2.0,35.7,110.0,2.0,150.0,14.91,Adult
1,73568.0,2.0,2.0,20.3,89.0,2.0,80.0,3.85,Adult
2,73576.0,1.0,2.0,23.2,89.0,2.0,68.0,6.14,Adult
3,73577.0,1.0,2.0,28.9,104.0,NaN,84.0,16.15,Adult
4,73580.0,2.0,1.0,35.9,103.0,2.0,81.0,10.92,Adult
...,...,...,...,...,...,...,...,...,...
1961,83711.0,2.0,2.0,33.5,100.0,2.0,73.0,6.53,Adult
1962,83712.0,1.0,2.0,30.0,93.0,2.0,208.0,13.02,Adult
1963,83713.0,1.0,2.0,23.7,103.0,2.0,124.0,21.41,Adult
1964,83718.0,2.0,2.0,27.4,90.0,2.0,108.0,4.99,Adult
1965,83727.0,1.0,2.0,24.5,NaN,2.0,108.0,3.76,Adult

In [4]:
df.drop('SEQN',axis=1,inplace=True)
df.head(10)

   RIAGENDR  PAQ605  BMXBMI  LBXGLU  DIQ010  LBXGLT  LBXIN age_group
0       2.0     2.0    35.7   110.0     2.0   150.0  14.91     Adult
1       2.0     2.0    20.3    89.0     2.0    80.0   3.85     Adult
2       1.0     2.0    23.2    89.0     2.0    68.0   6.14     Adult
3       1.0     2.0    28.9   104.0     NaN    84.0  16.15     Adult
4       2.0     1.0    35.9   103.0     2.0    81.0  10.92     Adult
5       1.0     2.0    23.6   110.0     2.0   100.0   6.08     Adult
6       1.0     2.0    38.7    94.0     2.0   202.0  21.11     Adult
7       2.0     2.0    38.3   107.0     2.0   164.0  20.93     Adult
8       1.0     2.0    38.9    89.0     2.0   113.0  17.47    Senior
9       1.0     1.0    28.9    90.0     2.0    95.0   3.24     Adult

In [5]:
df['age_group']=df['age_group'].apply(lambda x:1 if x=='Senior' else 0)
df.head(10)

   RIAGENDR  PAQ605  BMXBMI  LBXGLU  DIQ010  LBXGLT  LBXIN  age_group
0       2.0     2.0    35.7   110.0     2.0   150.0  14.91          0
1       2.0     2.0    20.3    89.0     2.0    80.0   3.85          0
2       1.0     2.0    23.2    89.0     2.0    68.0   6.14          0
3       1.0     2.0    28.9   104.0     NaN    84.0  16.15          0
4       2.0     1.0    35.9   103.0     2.0    81.0  10.92          0
5       1.0     2.0    23.6   110.0     2.0   100.0   6.08          0
6       1.0     2.0    38.7    94.0     2.0   202.0  21.11          0
7       2.0     2.0    38.3   107.0     2.0   164.0  20.93          0
8       1.0     2.0    38.9    89.0     2.0   113.0  17.47          1
9       1.0     1.0    28.9    90.0     2.0    95.0   3.24          0

In [6]:
df.isna().sum()

RIAGENDR     18
PAQ605       13
BMXBMI       18
LBXGLU       13
DIQ010       18
LBXGLT       11
LBXIN         9
age_group     0
dtype: int64

In [7]:
df['PAQ605'].unique()

array([ 2.,  1., nan,  7.])

In [8]:
df['RIAGENDR'].unique()

array([ 2.,  1., nan])

In [9]:
df['DIQ010'].unique()

array([ 2., nan,  1.,  3.])

In [10]:
sum(df['PAQ605']==7)

1

In [11]:
df.loc[df['PAQ605']==7]

     RIAGENDR  PAQ605  BMXBMI  LBXGLU  DIQ010  LBXGLT  LBXIN  age_group
359       1.0     7.0    21.1   110.0     2.0    66.0   4.24          0

In [12]:
df.drop(359,axis=0)

      RIAGENDR  PAQ605  BMXBMI  LBXGLU  DIQ010  LBXGLT  LBXIN  age_group
0          2.0     2.0    35.7   110.0     2.0   150.0  14.91          0
1          2.0     2.0    20.3    89.0     2.0    80.0   3.85          0
2          1.0     2.0    23.2    89.0     2.0    68.0   6.14          0
3          1.0     2.0    28.9   104.0     NaN    84.0  16.15          0
4          2.0     1.0    35.9   103.0     2.0    81.0  10.92          0
...        ...     ...     ...     ...     ...     ...    ...        ...
1961       2.0     2.0    33.5   100.0     2.0    73.0   6.53          0
1962       1.0     2.0    30.0    93.0     2.0   208.0  13.02          0
1963       1.0     2.0    23.7   103.0     2.0   124.0  21.41          0
1964       2.0     2.0    27.4    90.0     2.0   108.0   4.99          0
1965       1.0     2.0    24.5     NaN     2.0   108.0   3.76          0

[1965 rows x 8 columns]

In [13]:

sns.pairplot(df)

In [14]:
sns.jointplot(x='BMXBMI', y='LBXIN', data=df,hue='RIAGENDR')

In [15]:
df.dropna(subset=['RIAGENDR','PAQ605','DIQ010'],how='any',inplace=True)

In [16]:
df.isna().sum()

RIAGENDR      0
PAQ605        0
BMXBMI       18
LBXGLU       13
DIQ010        0
LBXGLT       11
LBXIN         9
age_group     0
dtype: int64

In [17]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [18]:
feature_cols=['RIAGENDR','PAQ605','BMXBMI','LBXGLU','DIQ010','LBXGLT','LBXIN']

In [19]:
df_iterative_imputer = df.copy()
itr_imputer = IterativeImputer()
df_iterative_imputer[feature_cols] = itr_imputer.fit_transform(df_iterative_imputer[feature_cols])

In [20]:
df_iterative_imputer.head(20)

    RIAGENDR  PAQ605  BMXBMI  LBXGLU  DIQ010  LBXGLT  LBXIN  age_group
0        2.0     2.0    35.7   110.0     2.0   150.0  14.91          0
1        2.0     2.0    20.3    89.0     2.0    80.0   3.85          0
2        1.0     2.0    23.2    89.0     2.0    68.0   6.14          0
4        2.0     1.0    35.9   103.0     2.0    81.0  10.92          0
5        1.0     2.0    23.6   110.0     2.0   100.0   6.08          0
6        1.0     2.0    38.7    94.0     2.0   202.0  21.11          0
7        2.0     2.0    38.3   107.0     2.0   164.0  20.93          0
8        1.0     2.0    38.9    89.0     2.0   113.0  17.47          1
9        1.0     1.0    28.9    90.0     2.0    95.0   3.24          0
10       2.0     2.0    32.7    98.0     2.0    80.0   7.16          0
11       2.0     1.0    27.3    85.0     2.0    91.0   9.86          0
12       1.0     2.0    24.6   100.0     2.0    97.0   4.33          1
13       2.0     2.0    30.5   102.0     2.0   124.0  12.06          0
14       1.0     2.0    30.3   133.0     2.0   295.0  22.92          1
15       2.0     1.0    22.1   114.0     2.0   150.0  10.09          1
16       2.0     2.0    37.8    96.0     2.0   120.0   9.61          0
17       1.0     2.0    28.0    89.0     2.0    82.0   8.39          0
18       1.0     2.0    21.0    86.0     2.0    84.0   4.47          0
19       1.0     2.0    33.0   108.0     2.0    77.0   8.02          0
20       1.0     2.0    29.1    99.0     2.0    95.0   6.12          0

In [21]:
df_iterative_imputer.isna().sum()

RIAGENDR     0
PAQ605       0
BMXBMI       0
LBXGLU       0
DIQ010       0
LBXGLT       0
LBXIN        0
age_group    0
dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
X=df_iterative_imputer.drop('age_group',axis=1)
y=df_iterative_imputer.age_group

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
def print_score(clf,X_train,y_train,X_test,y_test,train=True):
    if train:
        pred = clf.predict(X_train)
        clf_report = pd.DataFrame(classification_report(y_train,pred,output_dict= True))
        print("Train Result:\n================================================")
        print(f"Accuracy Score: {accuracy_score(y_train, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:\n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(y_train, pred)}\n")

    elif train==False:
        pred = clf.predict(X_test)
        clf_report = pd.DataFrame(classification_report(y_test, pred, output_dict=True))
        print("Test Result:\n================================================")        
        print(f"Accuracy Score: {accuracy_score(y_test, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:\n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(y_test, pred)}\n")

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier(n_estimators=100)
rf_clf.fit(X_train,y_train)
print_score(rf_clf,X_train,y_train,X_test,y_test,train=True)
print_score(rf_clf,X_train,y_train,X_test,y_test,train=False)

Train Result:
================================================
Accuracy Score: 100.00%
_______________________________________________
CLASSIFICATION REPORT:
                0      1  accuracy  macro avg  weighted avg
precision     1.0    1.0       1.0        1.0           1.0
recall        1.0    1.0       1.0        1.0           1.0
f1-score      1.0    1.0       1.0        1.0           1.0
support    1290.0  243.0       1.0     1533.0        1533.0
_______________________________________________
Confusion Matrix:
 [[1290    0]
 [   0  243]]

Test Result:
================================================
Accuracy Score: 83.07%
_______________________________________________
CLASSIFICATION REPORT:
                    0          1  accuracy   macro avg  weighted avg
precision    0.844687   0.529412  0.830729    0.687049      0.790499
recall       0.974843   0.136364  0.830729    0.555603      0.830729
f1-score     0.905109   0.216867  0.830729    0.560988      0.786818
support    318.000000  66.000000  0.830729  384.000000    384.000000
_______________________________________________
Confusion Matrix:
 [[310   8]
 [ 57   9]]

In [25]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

n_estimators= [100,200,300,400]
max_features=['auto','sqrt']
max_depth = [2,3,5]
max_depth.append(None)
min_samples_split = [2,5,10]
min_samples_leaf = [1,2,4,10]
bootstrap = [True,False]

params_grid = {
    'n_estimators':n_estimators,
    'max_features':max_features,
    'max_depth':max_depth,
    'min_samples_split':min_samples_split,
    'min_samples_leaf':min_samples_leaf,
    'bootstrap':bootstrap
}
rf_clf= RandomForestClassifier(random_state=42)
rf_cv = GridSearchCV(
    rf_clf,
    params_grid,
    scoring='f1',
    cv=5,
    verbose=1,
    n_jobs=-1



)
rf_cv.fit(X_train,y_train)
best_params = rf_cv.best_params_
print(f"Best parameters: {best_params}")

rf_clf= RandomForestClassifier(**best_params)
rf_clf.fit(X_train,y_train)
print_score(rf_clf, X_train, y_train, X_test, y_test, train=True)
print_score(rf_clf, X_train, y_train, X_test, y_test, train=False)

Fitting 5 folds for each of 768 candidates, totalling 3840 fits

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
1920 fits failed out of a total of 3840.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
902 fits failed with the following error:
Traceback (most recent call last):
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
1018 fits failed with the following error:
Traceback (most recent call last):
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1102: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.09876287 0.09458585 0.09502126 0.10085844 0.1009257  0.09397046
 0.10241191 0.10209819 0.09481089 0.08040077 0.09563422 0.08837732
 0.10094183 0.08855729 0.09594794 0.1030597  0.09369597 0.08824357
 0.08855729 0.088138   0.08055001 0.07963061 0.08171843 0.08171843
 0.1019584  0.08928833 0.08855729 0.08794794 0.1019584  0.08928833
 0.08855729 0.08794794 0.09366277 0.08670754 0.08099271 0.08794794
 0.06629046 0.05910218 0.05910218 0.05941591 0.06629046 0.05910218
 0.05910218 0.05941591 0.06629046 0.05910218 0.05910218 0.05941591
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.24266768 0.23595862 0.24188702 0.23693292 0.24405997 0.24267033
 0.2344325  0.23161713 0.2210668  0.22647476 0.22529414 0.21391027
 0.18487729 0.21084903 0.20516827 0.21734401 0.22667064 0.21026121
 0.20305865 0.21784607 0.22010619 0.20211394 0.19024901 0.2153849
 0.21454759 0.20071146 0.17822247 0.19637881 0.21454759 0.20071146
 0.17822247 0.19637881 0.18414947 0.19085867 0.19085867 0.18470482
 0.10496477 0.11049622 0.10428518 0.10488041 0.10496477 0.11049622
 0.10428518 0.10488041 0.10496477 0.11049622 0.10428518 0.10488041
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.12091828 0.12731772 0.10866013 0.11442936 0.12578973 0.13374036
 0.12129805 0.12689245 0.13042805 0.1375709  0.11606754 0.13479011
 0.12449813 0.13533425 0.13580045 0.12916947 0.115111   0.14266914
 0.11552882 0.13042805 0.11750581 0.13689991 0.12293622 0.11471123
 0.1073558  0.12792142 0.12022378 0.11270574 0.1073558  0.12792142
 0.12022378 0.11270574 0.13596142 0.1286887  0.11335509 0.11830014
 0.09202718 0.09234091 0.09202718 0.0925659  0.09202718 0.09234091
 0.09202718 0.0925659  0.09202718 0.09234091 0.09202718 0.0925659
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.26477792 0.24454735 0.25732955 0.27192813 0.24355864 0.24347626
 0.24567208 0.24614248 0.26311959 0.26286801 0.25841177 0.25211745
 0.24567756 0.23835117 0.25326276 0.24832086 0.26262875 0.27402367
 0.27131112 0.26466834 0.25346084 0.26551095 0.24460043 0.24437809
 0.25177559 0.24018474 0.2341189  0.23435977 0.25177559 0.24018474
 0.2341189  0.23435977 0.24916956 0.25147677 0.24646302 0.24532292
 0.17652167 0.17623508 0.17769966 0.16966893 0.17652167 0.17623508
 0.17769966 0.16966893 0.17652167 0.17623508 0.17769966 0.16966893]
  warnings.warn(

Best parameters: {'bootstrap': False, 'max_depth': None, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 200}
Train Result:
================================================
Accuracy Score: 99.02%
_______________________________________________
CLASSIFICATION REPORT:
                     0           1  accuracy    macro avg  weighted avg
precision     0.988506    1.000000  0.990215     0.994253      0.990328
recall        1.000000    0.938272  0.990215     0.969136      0.990215
f1-score      0.994220    0.968153  0.990215     0.981186      0.990088
support    1290.000000  243.000000  0.990215  1533.000000   1533.000000
_______________________________________________
Confusion Matrix:
 [[1290    0]
 [  15  228]]

Test Result:
================================================
Accuracy Score: 82.29%
_______________________________________________
CLASSIFICATION REPORT:
                    0          1  accuracy   macro avg  weighted avg
precision    0.843407   0.450000  0.822917    0.646703      0.775790
recall       0.965409   0.136364  0.822917    0.550886      0.822917
f1-score     0.900293   0.209302  0.822917    0.554798      0.781529
support    318.000000  66.000000  0.822917  384.000000    384.000000
_______________________________________________
Confusion Matrix:
 [[307  11]
 [ 57   9]]

In [26]:
test_df=pd.read_csv('Test_Data.csv')
test_df.drop('SEQN',axis=1,inplace=True)

In [27]:
y_pred = rf_clf.predict(test_df)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [28]:
output_df = pd.DataFrame({'age_group': y_pred})
output_df.to_csv('submission2.csv', index=False)